/* Images */

#imageDiv{
  position: relative;
  height: 80dvh;
  background-color: red;
  display: flex;
  gap: 200px;
  align-items: center;
}

.images{
  max-width: 75%;
  max-height: 75%;
  display: none;
}
.shown{
  display: block;
}
.hidden{
  display: none;
}
/* Comments */
.counterBTNs{
  display: flex;
  justify-content: center;
  gap: 30%;
}
.countDownBTN, .countUpBTN{
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 4px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0 2px 0;
  user-select: none;
  color: white;
}

.countUpBTN{
  background-color: red;
}.countDownBTN{
  background-color: blue;
}

.countUpBTN:hover{
  background-color: rgb(153, 16, 16);
}
.countDownBTN:hover{
  background-color: rgb(16, 0, 139);
}

/* STUFF I'M TOO SCARED TO REMOVE */
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

