/* Images */

#imageDiv{
  position: relative;
  height: 80dvh;
  background-color: red;
  display: flex;
  gap: 200px;
  align-items: center;
}

.images{
  max-width: 75%;
  max-height: 75%;
}

/* Comments */
.countDownBTN, .countUpBTN{
  width: 50px;
  height: 50px;
}
.countUpBTN{
  background-color: red;
}.countDownBTN{
  background-color: blue;
}



/* STUFF I'M TOO SCARED TO REMOVE */
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

