/* Images */
body{
  background-color: rgb(10, 20, 41);
}
h1{
  color: white;
}
#imageDiv{
  position: relative;
  height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  width: 100%;
}
form>input, form>textarea{
  background-color: #282c34;
  border: solid #003f6f 1px ;
  margin: 5px;
  color: white;
}

.images{
  width: 50%;
  max-height: 95%;
  display: none;
  border-radius: 2px;
}
.shown{
  display: block;
}
.hidden{
  display: none;
}
/* Comments */
.countDownBTN, .countUpBTN{
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 4px rgb(0, 157, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0 2px 0;
  user-select: none;
  color: white;
  background-color: rgb(0, 157, 255);

}
.countDownBTN:hover,.countUpBTN:hover{
  background-color: rgb(2, 139, 224);
  color: rgb(218, 217, 217);
}

/* STUFF I'M TOO SCARED TO REMOVE */
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

